.ant-spin-spinning {
  position: fixed;
  display: inline-block;
  height: 100%;
  width: 100%;
  opacity: 1;
  text-align: center;
}

.ant-spin-lg .ant-spin-dot{
  position: absolute;
  top: 140px;
}